.game-container {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #f0f0f0;
    margin: 0 auto;
    

}

.paddle {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: blue;
    bottom: 10px;
}

.br {
    position: absolute;
    width: 90px;
    height: 10px;
    background-color: rgb(235, 22, 181);
    bottom: 10px;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.bricks {
    position: absolute;
    width: 800px;
    height: 300px;
    background-color: #050404;

}

.score {
    text-align: center;
    font-size: 24px;
} 

.br {
    position: absolute;
    background-color: aqua;
    height: 20px;
    width: 40px;
}
